电信客服智能助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 电信客服智能助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.2.2@ecfb32c9f22ec47693a35644eed02121ef060a1c2f557009639c5da1ce363f53
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.17@f7a5c1d222d17ee419b17a80d6e4923838fe93788dc724a3af73fbc6990b3a32
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: e52a705d-b63b-4e87-82de-41ccef21bfab
    name: collected_plan
    selector:
    - conversation
    - collected_plan
    value: ''
    value_type: string
  - description: ''
    id: 9d9ad889-c5e3-47cd-a244-2d5e6264b070
    name: collected_sub_intent
    selector:
    - conversation
    - collected_sub_intent
    value: ''
    value_type: string
  - description: 已收集的金额
    id: ccb75aa7-8102-4c34-b0b4-1a25df1bc17c
    name: collected_amount
    selector:
    - conversation
    - collected_amount
    value: ''
    value_type: string
  - description: 还需要什么信息
    id: f2fec9fc-fe5e-4654-bdf4-3807cadda84a
    name: pending_info
    selector:
    - conversation
    - pending_info
    value: ''
    value_type: string
  - description: 已收集的地址
    id: 9bfa4ca7-a6e1-4844-bd15-2827dae103b8
    name: collected_address
    selector:
    - conversation
    - collected_address
    value: ''
    value_type: string
  - description: 已收集的手机号
    id: 39d3968e-0afb-4c35-9614-91b4a00e798e
    name: collected_phone
    selector:
    - conversation
    - collected_phone
    value: ''
    value_type: string
  - description: 已收集的意图
    id: af20b1a1-db94-425c-bbbf-b93b7a90cb16
    name: collected_intent
    selector:
    - conversation
    - collected_intent
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1781020955373-1-1781054360759-target
      selected: false
      source: '1781020955373'
      sourceHandle: '1'
      target: '1781054360759'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1781054360759-source-1781057864321-target
      selected: false
      source: '1781054360759'
      sourceHandle: source
      target: '1781057864321'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1781057864321-source-1781058541375-target
      selected: false
      source: '1781057864321'
      sourceHandle: source
      target: '1781058541375'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1781058541375-true-1781058181888-target
      selected: false
      source: '1781058541375'
      sourceHandle: 'true'
      target: '1781058181888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1781058181888-source-1781058610547-target
      selected: false
      source: '1781058181888'
      sourceHandle: source
      target: '1781058610547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1781058541375-false-1781101861989-target
      selected: false
      source: '1781058541375'
      sourceHandle: 'false'
      target: '1781101861989'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1781101861989-source-1781101875379-target
      selected: false
      source: '1781101861989'
      sourceHandle: source
      target: '1781101875379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781106997735-source-1781107108727-target
      selected: false
      source: '1781106997735'
      sourceHandle: source
      target: '1781107108727'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1781107108727-source-1781107338787-target
      selected: false
      source: '1781107108727'
      sourceHandle: source
      target: '1781107338787'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1781020955373-2-1781106997735-target
      selected: false
      source: '1781020955373'
      sourceHandle: '2'
      target: '1781106997735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1781107338787-false-1781148538073-target
      selected: false
      source: '1781107338787'
      sourceHandle: 'false'
      target: '1781148538073'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1781148538073-source-1781107352159-target
      selected: false
      source: '1781148538073'
      sourceHandle: source
      target: '1781107352159'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1781107352159-source-1781149996099-target
      selected: false
      source: '1781107352159'
      sourceHandle: source
      target: '1781149996099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1781020955373-1781020981648-1781230832699-target
      selected: false
      source: '1781020955373'
      sourceHandle: '1781020981648'
      target: '1781230832699'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1781020955373-1781194276843-1781231098933-target
      selected: false
      source: '1781020955373'
      sourceHandle: '1781194276843'
      target: '1781231098933'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781231098933-source-1781231148215-target
      selected: false
      source: '1781231098933'
      sourceHandle: source
      target: '1781231148215'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1781231148215-source-1781234519045-target
      selected: false
      source: '1781231148215'
      sourceHandle: source
      target: '1781234519045'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1781234519045-source-1781234767147-target
      selected: false
      source: '1781234519045'
      sourceHandle: source
      target: '1781234767147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781234767147-true-1781234782351-target
      selected: false
      source: '1781234767147'
      sourceHandle: 'true'
      target: '1781234782351'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1781234782351-source-1781234830811-target
      selected: false
      source: '1781234782351'
      sourceHandle: source
      target: '1781234830811'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1781234767147-false-1781234846971-target
      selected: false
      source: '1781234767147'
      sourceHandle: 'false'
      target: '1781234846971'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: template-transform
      id: 1781019272685-source-1781319494435-target
      selected: false
      source: '1781019272685'
      sourceHandle: source
      target: '1781319494435'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: question-classifier
      id: 1781319494435-source-1781020955373-target
      selected: false
      source: '1781319494435'
      sourceHandle: source
      target: '1781020955373'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1781107338787-true-1781368406154-target
      selected: false
      source: '1781107338787'
      sourceHandle: 'true'
      target: '1781368406154'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1781368406154-source-1781368573911-target
      source: '1781368406154'
      sourceHandle: source
      target: '1781368573911'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1781019272685'
      position:
        x: 110.43701264749001
        y: 215.8275620402751
      positionAbsolute:
        x: 110.43701264749001
        y: 215.8275620402751
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          label: CLASS 1
          name: faq
        - id: '2'
          label: CLASS 2
          name: flow
        - id: '1781020981648'
          label: CLASS 3
          name: unknown
        - id: '1781194276843'
          label: CLASS 4
          name: human
        instruction: '你是一个路由判断专家。判断用户问题属于以下哪一类：


          当前会话状态：

          - 上一轮意图：{{#conversation.collected_intent#}}

          - 上一轮子意图：{{#conversation.collected_sub_intent#}}


          - faq：用户询问「如何做某事」「是什么」「为什么」「多少钱」等知识性问题，只需要回答方法或定义，不需要替用户执行操作

          - flow：用户要求「帮我做」「办理」「查询我的XXX」「提交XXX」「报修」「投诉」「转人工」「人工客服」等需要调用系统接口、查询个人数据、执行具体动作的请求。**也包括用户直接提供手机号、地址等个人信息，以及用户说「办理XXX套餐」「办套餐」「我要办XXX」**。**也包括用户直接说套餐名称（如「129套餐」「59元畅享套餐」）。特别规则：如果上一轮意图是
          business_handle（办理业务），当前用户输入是套餐名称或编号，必须归类为 flow**

          - unknown：无法判断意图、与电信业务完全无关、无效输入、闲聊

          - human：用户要求转人工服务，如「转人工」「人工客服」「我要人工」「人工服务」等


          用户问题：{{#sys.query#}}


          只输出一个词：faq 或 flow 或 human 或 unknown'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1781319494435'
        - output
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 262
      id: '1781020955373'
      position:
        x: 907.3189412958196
        y: 231.08205715640298
      positionAbsolute:
        x: 907.3189412958196
        y: 231.08205715640298
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - NCxherGSiuRAoNdb1W871HCQCtn9Y71AdKrJ8nuJQVNr8SCOhkPjiKlCK2VzB7z9
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1781019272685'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1781054360759'
      position:
        x: 1342.9237888773418
        y: 125.67629308558912
      positionAbsolute:
        x: 1342.9237888773418
        y: 125.67629308558912
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781054360759'
          - result
        model:
          completion_params:
            temperature: 0.7
            thinking: false
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 8a634881-dc35-4beb-84fb-b1c3c7e2640a
          role: system
          text: '你是一个判断助手。根据检索到的内容和用户问题，判断检索结果是否能回答用户问题。

            用户问题：{{#sys.query#}}

            检索到的内容：{{#context#}}

            判断规则：

            - 如果能回答，输出：YES

            - 如果不能回答，输出：NO

            【重要】不要输出任何思考过程，不要输出<think>标签，不要输出多余的空格和换行。只输出YES或NO这两个字母。。'
        selected: false
        title: LLM判断是否相关
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781057864321'
      position:
        x: 1669.552546568745
        y: 73.06998959994624
      positionAbsolute:
        x: 1669.552546568745
        y: 73.06998959994624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781054360759'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: eacab5ea-f37a-4024-a65f-ee78587a40ac
          role: system
          text: '你是中国电信客服助手。请基于以下检索到的知识回答用户问题：{{#context#}}


            用户问题：{{user_query}}


            要求：

            1. 回答要准确、友好

            2. 只基于检索到的知识回答

            3. 如果知识库中有排查步骤，在回答末尾加上：


            「如果以上方法仍无法恢复，请直接回复「报修」，我将为您创建工单。」


            4. 如果知识不够，引导用户拨打10000号


            回答：'
        - id: 1f404390-8b2a-40cc-ac2c-97a2cdc92623
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM回答相关问题
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781058181888'
      position:
        x: 2373.6726563614
        y: 56.18929956971439
      positionAbsolute:
        x: 2373.6726563614
        y: 56.18929956971439
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 95617634-e669-45d2-ba39-3b8e5ddaea81
            value: 'YES'
            varType: string
            variable_selector:
            - '1781057864321'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1781058541375'
      position:
        x: 2017.347934610295
        y: 83.18348076811094
      positionAbsolute:
        x: 2017.347934610295
        y: 83.18348076811094
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1781058181888.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1781058610547'
      position:
        x: 2736.3249082949924
        y: 1.4181716785803644
      positionAbsolute:
        x: 2736.3249082949924
        y: 1.4181716785803644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "抱歉，我暂时没有找到关于这个问题的答案。\r\n\r\n如果您需要**人工办理业务**（如报修宽带、充话费、改套餐），请直接回复「**转人工**」或「**报修**」，我将为您转接人工服务。\r\
          \n\r\n您也可以：\r\n1. 拨打中国电信客服热线 10000 号\r\n2. 换个方式重新描述您的问题\r\n\r\n请问您需要办理什么业务？"
        title: 模板转换(给出固定回复
        type: template-transform
        variables: []
      height: 52
      id: '1781101861989'
      position:
        x: 2403.2937559904803
        y: 224.13809618397624
      positionAbsolute:
        x: 2403.2937559904803
        y: 224.13809618397624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1781101861989.output#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1781101875379'
      position:
        x: 2765.354082331996
        y: 248.66722937774972
      positionAbsolute:
        x: 2765.354082331996
        y: 248.66722937774972
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
            thinking: false
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: d9d83510-c159-458d-b0aa-db8c3f30cbec
          role: system
          text: "你是一个参数提取助手。请结合以下已有信息和用户问题提取参数。\n\n已有信息：\n- 上一轮已收集的意图：{{#conversation.collected_intent#}}\n\
            - 上一轮已收集的子意图：{{#conversation.collected_sub_intent#}}\n- 上一轮已收集的手机号：{{#conversation.collected_phone#}}\n\
            - 上一轮已收集的地址：{{#conversation.collected_address#}}\n- 上一轮已收集的金额：{{#conversation.collected_amount#}}\n\
            \n用户当前问题：{{#sys.query#}}\n\n输出格式（严格按这个格式）：\n意图：{balance_query/fault_report/business_handle/human}\n\
            子意图：{recharge/change_plan/new_broadband/other}\n手机号：{11位手机号，没有则写无}\n地址：{详细地址，没有则写无}\n\
            金额：{数字金额，没有则写无}\n套餐：{套餐名称，没有则写无}\n\n规则：\n- 意图判断：查话费/查余额/查流量 → balance_query；报修\
            \ → fault_report；办理业务 → business_handle；转人工 → human\n- 子意图判断（仅当意图为 business_handle\
            \ 时）：\n  * 充话费/充值 → recharge\n  * 改套餐/换套餐/变更套餐 → change_plan\n  * 办宽带/新装宽带\
            \ → new_broadband\n  * 其他 → other\n- 手机号：11位数字，以1开头\n- 地址：包含省/市/区/街道/路/号/院/小区等关键词\n\
            - 金额：数字，可能带「元」字\n\n【重要】优先级规则（从高到低）：\n\n1. 【最高优先级】如果用户输入是11位数字且以1开头，必须提取为「手机号」，绝对不能提取为「套餐」或「金额」\n\
            \n2. 如果用户输入中包含「套餐」「档」「畅享」等字样，必须提取到「套餐」字段，不要提取到「金额」\n\n3. 如果上一轮子意图是 change_plan（改套餐）：\n\
            \   a. 用户输入包含「元」但不包含「套餐」→ 提取为「套餐」（用户可能省略了「套餐」二字）\n   b. 用户输入是1-4位数字（如1、129）→\
            \ 提取为「套餐」（套餐编号或档位）\n\n4. 如果上一轮子意图是 recharge（充话费）：\n   a. 用户输入包含「元」→ 提取为「金额」\n\
            \   b. 用户输入是数字 → 提取为「金额」\n\n5. 如果用户输入中包含「元」「块」「钱」但不匹配上述条件，提取为「金额」\n\n\
            6. 其他情况：数字 → 金额；文字 → 地址或意图判断\n\n示例：\n- 用户输入「129元套餐」→ 套餐：129元套餐，金额：无\n\
            - 用户输入「129元」→ 上一轮 change_plan → 套餐：129元套餐，金额：无\n- 用户输入「129」→ 上一轮 change_plan\
            \ → 套餐：129元套餐，金额：无\n- 用户输入「1」→ 上一轮 change_plan → 套餐：1，金额：无\n- 用户输入「50元」→\
            \ 上一轮 recharge → 金额：50，套餐：无\n- 用户输入「50」→ 上一轮 recharge → 金额：50，套餐：无\n-\
            \ 用户输入「13812345678」→ 手机号：13812345678，套餐：无，金额：无\n\n只输出上面的格式，不要输出其他内容。"
        - id: fd85ca87-1002-4494-8e8d-dcd08e8e6f39
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: LLM（参数提取）
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781106997735'
      position:
        x: 1357.9205215038787
        y: 333.7562146430219
      positionAbsolute:
        x: 1357.9205215038787
        y: 333.7562146430219
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(llm_output: str, \n         collected_intent: str, \n    \
          \     collected_sub_intent: str,\n         collected_phone: str, \n    \
          \     collected_address: str, \n         collected_amount: str,\n      \
          \   collected_plan: str,\n         pending_info: str) -> dict:\n    \n \
          \   intent = \"other\"\n    sub_intent = \"other\"\n    phone = None\n \
          \   address = None\n    amount = None\n    plan = None\n    \n    for line\
          \ in llm_output.strip().split('\\n'):\n        line = line.strip()\n   \
          \     \n        if line.startswith('意图：'):\n            intent_line = line[3:].strip()\n\
          \            if 'balance' in intent_line:\n                intent = 'balance_query'\n\
          \            elif 'fault' in intent_line:\n                intent = 'fault_report'\n\
          \            elif 'business' in intent_line:\n                intent = 'business_handle'\n\
          \            elif 'human' in intent_line:\n                intent = 'human'\n\
          \        \n        elif line.startswith('子意图：'):\n            sub_line =\
          \ line[4:].strip()\n            if sub_line == 'recharge':\n           \
          \     sub_intent = 'recharge'\n            elif sub_line == 'change_plan':\n\
          \                sub_intent = 'change_plan'\n            elif sub_line ==\
          \ 'new_broadband':\n                sub_intent = 'new_broadband'\n     \
          \   \n        elif line.startswith('手机号：'):\n            phone_line = line[4:].strip()\n\
          \            if phone_line != '无':\n                phone = phone_line\n\
          \        \n        elif line.startswith('地址：'):\n            address_line\
          \ = line[3:].strip()\n            if address_line != '无':\n            \
          \    address = address_line\n        \n        elif line.startswith('金额：'):\n\
          \            amount_line = line[3:].strip()\n            if amount_line\
          \ != '无' and amount_line:\n                amount = amount_line\n      \
          \  \n        elif line.startswith('套餐：'):\n            plan_line = line[3:].strip()\n\
          \            if plan_line != '无':\n                plan = plan_line\n  \
          \  \n    # 合并历史信息\n    final_intent = intent if intent != \"other\" else\
          \ collected_intent\n    final_sub_intent = sub_intent if sub_intent != \"\
          other\" else collected_sub_intent\n    final_phone = phone if phone else\
          \ collected_phone\n    final_address = address if address else collected_address\n\
          \    final_amount = amount if amount else collected_amount\n    final_plan\
          \ = plan if plan else collected_plan\n    \n    # 套餐编号映射（用户可能回复1、2、3、4）\n\
          \    plan_mapping = {\n        \"1\": \"129元套餐\",\n        \"2\": \"169元套餐\"\
          ,\n        \"3\": \"199元套餐\",\n        \"4\": \"299元套餐\",\n        \"129\"\
          : \"129元套餐\",\n        \"169\": \"169元套餐\",\n        \"199\": \"199元套餐\"\
          ,\n        \"299\": \"299元套餐\"\n    }\n    \n    if final_plan in plan_mapping:\n\
          \        final_plan = plan_mapping[final_plan]\n    \n    # 收集缺少的信息\n  \
          \  missing_items = []\n    \n    if final_intent == 'balance_query':\n \
          \       if not final_phone:\n            missing_items.append(\"手机号\")\n\
          \    \n    elif final_intent == 'fault_report':\n        if not final_address:\n\
          \            missing_items.append(\"地址\")\n    \n    elif final_intent ==\
          \ 'business_handle':\n        if final_sub_intent == 'recharge':\n     \
          \       if not final_phone:\n                missing_items.append(\"手机号\"\
          )\n            if not final_amount:\n                missing_items.append(\"\
          金额\")\n        elif final_sub_intent == 'change_plan':\n            if not\
          \ final_phone:\n                missing_items.append(\"手机号\")\n        \
          \    elif not final_plan:\n                missing_items.append(\"套餐选择\"\
          )\n        elif final_sub_intent == 'new_broadband':\n            if not\
          \ final_address:\n                missing_items.append(\"地址\")\n       \
          \ else:\n            missing_items.append(\"具体业务类型（充话费/改套餐/办宽带）\")\n   \
          \ \n    elif final_intent == 'human':\n        pass\n    \n    else:\n \
          \       missing_items.append(\"意图\")\n    \n    is_complete = len(missing_items)\
          \ == 0\n    missing_info = \"、\".join(missing_items) if missing_items else\
          \ \"\"\n    \n    return {\n        \"intent\": final_intent,\n        \"\
          sub_intent\": final_sub_intent,\n        \"phone\": final_phone,\n     \
          \   \"address\": final_address,\n        \"amount\": final_amount,\n   \
          \     \"selected_plan\": final_plan,\n        \"is_complete\": is_complete,\n\
          \        \"missing_info\": missing_info,\n        \"collected_intent\":\
          \ final_intent,\n        \"collected_sub_intent\": final_sub_intent,\n \
          \       \"collected_phone\": final_phone,\n        \"collected_address\"\
          : final_address,\n        \"collected_amount\": final_amount,\n        \"\
          collected_plan\": final_plan,\n        \"pending_info\": missing_info\n\
          \    }"
        code_language: python3
        outputs:
          address:
            children: null
            type: string
          amount:
            children: null
            type: string
          collected_address:
            children: null
            type: string
          collected_amount:
            children: null
            type: string
          collected_intent:
            children: null
            type: string
          collected_phone:
            children: null
            type: string
          collected_plan:
            children: null
            type: string
          collected_sub_intent:
            children: null
            type: string
          intent:
            children: null
            type: string
          is_complete:
            children: null
            type: boolean
          missing_info:
            children: null
            type: string
          pending_info:
            children: null
            type: string
          phone:
            children: null
            type: string
          selected_plan:
            children: null
            type: string
          sub_intent:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1781106997735'
          - text
          value_type: string
          variable: llm_output
        - value_selector:
          - conversation
          - collected_intent
          value_type: string
          variable: collected_intent
        - value_selector:
          - conversation
          - collected_sub_intent
          value_type: string
          variable: collected_sub_intent
        - value_selector:
          - conversation
          - collected_phone
          value_type: string
          variable: collected_phone
        - value_selector:
          - conversation
          - collected_address
          value_type: string
          variable: collected_address
        - value_selector:
          - conversation
          - collected_amount
          value_type: string
          variable: collected_amount
        - value_selector:
          - conversation
          - pending_info
          value_type: string
          variable: pending_info
        - value_selector:
          - conversation
          - collected_plan
          value_type: string
          variable: collected_plan
      height: 52
      id: '1781107108727'
      position:
        x: 1694.5437381761706
        y: 340.25284418729285
      positionAbsolute:
        x: 1694.5437381761706
        y: 340.25284418729285
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 484af65e-996f-4a8a-bb17-121b676d8219
            value: true
            varType: boolean
            variable_selector:
            - '1781107108727'
            - is_complete
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 148
      id: '1781107338787'
      position:
        x: 2025.1485116546985
        y: 380.74342820484424
      positionAbsolute:
        x: 2025.1485116546985
        y: 380.74342820484424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(intent: str, sub_intent: str, phone: str, address: str, amount:\
          \ str, selected_plan: str) -> dict:\n    import uuid\n    import random\n\
          \    \n    # 生成工单号（模拟）\n    ticket_id = str(uuid.uuid4())[:8]\n    \n  \
          \  if intent == 'balance_query':\n        # 模拟查话费\n        balance = round(random.uniform(10,\
          \ 500), 2)\n        return {\n            \"message\": f\"您好！手机号 {phone}\
          \ 当前话费余额为 {balance} 元。如需详细账单，请登录中国电信APP查看。\"\n        }\n    \n    elif\
          \ intent == 'fault_report':\n        # 模拟报修\n        return {\n        \
          \    \"message\": f\"已为您创建宽带报修工单，工单号：{ticket_id}，地址：{address}，技术人员将在48小时内联系您上门维修。\"\
          \n        }\n    \n    elif intent == 'business_handle' and sub_intent ==\
          \ 'recharge':\n        # 模拟充值\n        return {\n            \"message\"\
          : f\"已成功为手机号 {phone} 充值 {amount} 元，充值金额将在24小时内到账。如需发票，请登录中国电信APP开具。\"\n\
          \        }\n    \n    elif intent == 'business_handle' and sub_intent ==\
          \ 'change_plan':\n        # 模拟改套餐\n        return {\n            \"message\"\
          : f\"已成功将手机号 {phone} 的套餐变更为 {selected_plan}，次月1日生效。如有疑问，请拨打10000号咨询。\"\n\
          \        }\n    \n    elif intent == 'business_handle' and sub_intent ==\
          \ 'new_broadband':\n        # 模拟办宽带\n        return {\n            \"message\"\
          : f\"已收到您的宽带办理申请，地址：{address}，工单号：{ticket_id}，工作人员将在3个工作日内联系您确认安装时间。\"\n\
          \        }\n    \n    elif intent == 'human':\n        # 模拟人工转接\n      \
          \  return {\n            \"message\": f\"已为您转接人工客服，工单号：{ticket_id}，请保持手机\
          \ {phone} 畅通，客服将在24小时内联系您。\"\n        }\n    \n    else:\n        # 兜底\n\
          \        return {\n            \"message\": \"您的请求已收到，我们将尽快为您处理。如有紧急问题，请拨打10000号客服热线。\"\
          \n        }\n"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: 模拟响应
        type: code
        variables:
        - value_selector:
          - '1781107108727'
          - intent
          value_type: string
          variable: intent
        - value_selector:
          - '1781107108727'
          - sub_intent
          value_type: string
          variable: sub_intent
        - value_selector:
          - '1781107108727'
          - phone
          value_type: string
          variable: phone
        - value_selector:
          - '1781107108727'
          - address
          value_type: string
          variable: address
        - value_selector:
          - '1781107108727'
          - amount
          value_type: string
          variable: amount
        - value_selector:
          - '1781107108727'
          - selected_plan
          value_type: string
          variable: selected_plan
      height: 52
      id: '1781368406154'
      position:
        x: 2408.5087891940207
        y: 417.47330135892213
      positionAbsolute:
        x: 2408.5087891940207
        y: 417.47330135892213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 7a8050a4-022a-46b0-8a81-d79e234acf0f
          role: system
          text: '你是一个中国电信客服助手。


            用户想办理的业务：{{#1781107108727.intent#}}

            已经收集到的信息：

            - 手机号：{{#1781107108727.phone#}}

            - 地址：{{#1781107108727.address#}}

            - 金额：{{#1781107108727.amount#}}


            缺少的信息：{{#1781107108727.missing_info#}}


            请用友好的语气，根据缺少的信息生成回复。


            规则：

            - 如果缺少「手机号」：请用户提供手机号

            - 如果缺少「金额」：请用户提供充值金额

            - 如果缺少「地址」：请用户提供详细地址

            - 如果缺少「套餐选择」或 missing_info 包含「套餐」：请输出以下套餐列表让用户选择，并告知用户当前已收集到的手机号


            套餐列表：

            1. 129元套餐：30GB流量 + 500分钟通话

            2. 169元套餐：40GB流量 + 800分钟通话 + 300M宽带

            3. 199元套餐：60GB流量 + 1000分钟通话 + 500M宽带


            要求：

            - 语气亲切友好

            - 明确告诉用户需要提供什么

            - 给出示例格式

            - 如果已有手机号，在回复中显示出来


            示例：

            - 缺少手机号：请提供您的手机号，例如：13812345678

            - 缺少金额：请提供充值金额，例如：50元

            - 缺少地址：请提供详细地址，例如：北京市朝阳区XX路10号

            - 缺少套餐选择（已有手机号）：您好！根据您的手机号 {{#1781107108727.phone#}}，您可以选择以下套餐：1.129元套餐...
            请回复套餐编号或名称


            输出：'
        selected: false
        title: LLM 4（进一步询问信息）
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781107352159'
      position:
        x: 2871.7801514107364
        y: 690.5626243884433
      positionAbsolute:
        x: 2871.7801514107364
        y: 690.5626243884433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - collected_intent
          variable_selector:
          - conversation
          - collected_intent
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - collected_phone
          variable_selector:
          - conversation
          - collected_phone
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - collected_address
          variable_selector:
          - conversation
          - collected_address
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - missing_info
          variable_selector:
          - conversation
          - pending_info
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - collected_amount
          variable_selector:
          - conversation
          - collected_amount
        - input_type: variable
          operation: over-write
          value:
          - '1781107108727'
          - collected_sub_intent
          variable_selector:
          - conversation
          - collected_sub_intent
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 214
      id: '1781148538073'
      position:
        x: 2420.4383130703663
        y: 612.5469208543126
      positionAbsolute:
        x: 2420.4383130703663
        y: 612.5469208543126
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1781107352159.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1781149996099'
      position:
        x: 3273.2877586844697
        y: 700.558462027833
      positionAbsolute:
        x: 3273.2877586844697
        y: 700.558462027833
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
            thinking: false
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fc5cfce8-95ab-457c-b217-3b10dc25bd2a
          role: system
          text: '你是一个参数提取助手。请结合已有信息和用户问题提取参数。


            已有信息：

            - 上一轮已收集的手机号：{{#conversation.collected_phone#}}

            - 上一轮已收集的地址：{{#conversation.collected_address#}}

            用户当前问题：{{#sys.query#}}

            输出格式（严格按这个格式）：

            意图：human

            手机号：{11位手机号，没有则写无}

            地址：{详细地址，没有则写无}

            规则：

            - 手机号：11位数字，以1开头

            - 地址：包含省/市/区/街道/路/号/院/小区等关键词

            只输出上面的格式，不要输出其他内容。'
        selected: false
        title: LLM 参数提取human
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781231098933'
      position:
        x: 1373.1316398483725
        y: 760.1127573006253
      positionAbsolute:
        x: 1373.1316398483725
        y: 760.1127573006253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '抱歉，这个问题我暂时无法处理。

          我能为您做的是：

          • 查询话费、流量、套餐

          • 办理宽带报修

          • 充话费

          • 转人工客服

          请重新描述，或回复「人工」。'
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 164
      id: '1781230832699'
      position:
        x: 1401.6877031345555
        y: 483.561755588232
      positionAbsolute:
        x: 1401.6877031345555
        y: 483.561755588232
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(llm_output: str, collected_phone: str, collected_address:\
          \ str) -> dict:\n    intent = \"human\"\n    phone = None\n    address =\
          \ None\n    \n    lines = llm_output.strip().split('\\n')\n    for line\
          \ in lines:\n        if '手机号：' in line:\n            phone_line = line.replace('手机号：',\
          \ '').strip()\n            if phone_line != '无':\n                phone\
          \ = phone_line\n        elif '地址：' in line:\n            address_line =\
          \ line.replace('地址：', '').strip()\n            if address_line != '无':\n\
          \                address = address_line\n    \n    # 合并历史信息\n    final_phone\
          \ = phone if phone else collected_phone\n    final_address = address if\
          \ address else collected_address\n    \n    # human 分支默认直接完成\n    is_complete\
          \ = True\n    missing_info = \"\"\n    \n    return {\n        \"intent\"\
          : intent,\n        \"phone\": final_phone,\n        \"address\": final_address,\n\
          \        \"is_complete\": is_complete,\n        \"missing_info\": missing_info,\n\
          \        # 会话变量\n        \"collected_intent\": intent,\n        \"collected_phone\"\
          : final_phone,\n        \"collected_address\": final_address,\n        \"\
          pending_info\": missing_info\n    }"
        code_language: python3
        outputs:
          address:
            children: null
            type: string
          collected_address:
            children: null
            type: string
          collected_intent:
            children: null
            type: string
          collected_phone:
            children: null
            type: string
          intent:
            children: null
            type: string
          is_complete:
            children: null
            type: boolean
          missing_info:
            children: null
            type: string
          pending_info:
            children: null
            type: string
          phone:
            children: null
            type: string
        selected: false
        title: 代码执行 human
        type: code
        variables:
        - value_selector:
          - '1781231098933'
          - text
          value_type: string
          variable: llm_output
        - value_selector:
          - conversation
          - collected_phone
          value_type: string
          variable: collected_phone
        - value_selector:
          - conversation
          - collected_address
          value_type: string
          variable: collected_address
      height: 52
      id: '1781231148215'
      position:
        x: 1737.1485116546985
        y: 873.5904376270938
      positionAbsolute:
        x: 1737.1485116546985
        y: 873.5904376270938
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1781231148215'
          - collected_address
          variable_selector:
          - conversation
          - collected_address
        - input_type: variable
          operation: over-write
          value:
          - '1781231148215'
          - collected_phone
          variable_selector:
          - conversation
          - collected_phone
        - input_type: variable
          operation: over-write
          value:
          - '1781231148215'
          - collected_intent
          variable_selector:
          - conversation
          - collected_intent
        - input_type: variable
          operation: over-write
          value:
          - '1781231148215'
          - pending_info
          variable_selector:
          - conversation
          - pending_info
        selected: false
        title: 变量赋值 2
        type: assigner
        version: '2'
      height: 162
      id: '1781234519045'
      position:
        x: 2025.1485116546985
        y: 981.5904376270936
      positionAbsolute:
        x: 2025.1485116546985
        y: 981.5904376270936
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 9573e0a0-230c-4803-8cf8-b5d5bb9f4ce0
            value: true
            varType: boolean
            variable_selector:
            - '1781231148215'
            - is_complete
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 148
      id: '1781234767147'
      position:
        x: 2355.1485116546983
        y: 1019.5904376270934
      positionAbsolute:
        x: 2355.1485116546983
        y: 1019.5904376270934
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(phone: str, address: str, user_query: str) -> dict:\n    import\
          \ uuid\n    ticket_id = \"H\" + str(uuid.uuid4())[:8]\n    return {\n  \
          \      \"message\": f\"已为您转接人工客服，工单号：{ticket_id}，请保持手机畅通，客服将在24小时内联系您。\"\
          \n    }"
        code_language: python3
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_query
        - value_selector:
          - '1781231148215'
          - phone
          value_type: string
          variable: phone
        - value_selector:
          - '1781231148215'
          - address
          value_type: string
          variable: address
      height: 52
      id: '1781234782351'
      position:
        x: 2671.006129680174
        y: 1058.147157045872
      positionAbsolute:
        x: 2671.006129680174
        y: 1058.147157045872
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1781234782351.message#}}'
        selected: false
        title: 直接回复 5
        type: answer
        variables: []
      height: 103
      id: '1781234830811'
      position:
        x: 3084.436601782078
        y: 1089.4869773245327
      positionAbsolute:
        x: 3084.436601782078
        y: 1089.4869773245327
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 抱歉，系统暂时无法处理您的请求。请直接拨打客服热线 10000 号。
        selected: false
        title: 直接回复 6
        type: answer
        variables: []
      height: 116
      id: '1781234846971'
      position:
        x: 2688.417140946097
        y: 1178.2733101109682
      positionAbsolute:
        x: 2688.417140946097
        y: 1178.2733101109682
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "[上一轮意图: {{ collected_intent }}] \r\n[用户问题: {{ query }}]"
        title: 模板转换 2
        type: template-transform
        variables:
        - value_selector:
          - conversation
          - collected_intent
          variable: collected_intent
        - value_selector:
          - conversation
          - collected_sub_intent
          variable: collected_sub_intent
        - value_selector:
          - conversation
          - collected_phone
          variable: collected_phone
        - value_selector:
          - conversation
          - collected_address
          variable: collected_address
        - value_selector:
          - conversation
          - collected_plan
          variable: collected_plan
        - value_selector:
          - sys
          - query
          variable: query
      height: 52
      id: '1781319494435'
      position:
        x: 523.4248440217956
        y: 231.08205715640298
      positionAbsolute:
        x: 523.4248440217956
        y: 231.08205715640298
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1781368406154.message#}}'
        selected: false
        title: 直接回复 7
        type: answer
        variables: []
      height: 103
      id: '1781368573911'
      position:
        x: 2714.467312926339
        y: 428.0293646451052
      positionAbsolute:
        x: 2714.467312926339
        y: 428.0293646451052
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -556.3762495168116
      y: -32.26854865316511
      zoom: 0.5877704042431336
  rag_pipeline_variables: []
